@{
    ViewData["Title"] = "Admin Login";
}

<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height:70vh">
        <div class="col-md-4">

            <div class="card shadow">
                <div class="card-body">

                    <h4 class="text-center mb-4">Admin Login</h4>

                    <form method="post">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" required />
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                Login
                            </button>
                        </div>

                        @if (ViewBag.Error != null)
                        {
                            <p class="text-danger mt-3 text-center">
                                @ViewBag.Error
                            </p>
                        }
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
